fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb
pymupdf
python-docx
python-pptx
pandas
unstructured
duckduckgo-search
pydantic
python-multipart
sqlalchemy
beautifulsoup4
requests
wikipedia
lxml
html5lib
librosa
soundfile
sentencepiece
speechbrain
torchaudio
